.list-view {
    -fx-background-color: rgba(0,0,0,0.2);
    -fx-background-radius: 10;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-padding: 10 5 5 5;
}

.list-cell:empty {
    visibility:hidden;
}

.list-cell:odd {
    -fx-background-color: null;
}